#img{
    width: 30px;
    height: 150px;
}
.contenedor{
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
}
.your-class {
    margin: 0 auto;
}
#slide{
    width: 80%;
}
.slick-prev:before{
    background:#000 no-repeat center;
    color: white;
    left: -10%;
}
.slick-next:before{
    background: #000 no-repeat center;
    color: white;
    right: -10%;
}

.slick-dots li button:before{
    color: black;
}
header{
    width: 1000px;
}
#player1{
   width: 50%;
}
#player2{
    width: 50%;
}
.p{
   margin-top: 15%;
   margin-left: auto;
   margin-right: auto;

}
.boton{
    width: 80%;
}
@media (max-width: 700px){
    .sampleClass{
        float:none;
    }
    header{
        width: 700px;
    }

}